*.build
*.byte
*.cmi
*.cmo
*.cmx
*.native
*.o
*.so
*/_build
wpf/arytmetyka/arytmetyka
wpf/arytmetyka/arytmetyk.zip
wpf/arytmetyka/debug
wpf/arytmetyka/arytmetyka/*
wpf/arytmetyka/test
wpf/arytmetyka/debug/test
wpf/arytmetyka/debug/arytmetyka
wpf/kolokwia/*
