*.build
*.byte
*.cmi
*.cmo
*.cmx
*.native
*.o
*.so
*_build
*.depend
*371722*
math
wpf/arytmetyka/arytmetyka
wpf/arytmetyka/arytmetyk.zip
wpf/arytmetyka/debug
wpf/arytmetyka/arytmetyka/*
wpf/arytmetyka/test
wpf/arytmetyka/debug/test
wpf/arytmetyka/debug/arytmetyka
wpf/kolokwia/*
wpf/interval_tree/stuff.ml
supercomputing
*CMakeLists.txt
*cmake-build-debug
*.idea
